# コーディング規約

- コーディングスタイルは Ruby Style Guide に従う。
- メソッド名は snake_case で記述する。
- クラス名は CamelCase で記述する。
- インデントは半角スペース 2 つを使用する。

# テスト

- MiniTest を使用してテストコードを記述する。

# Gem

- Bundler を使用して Gem を管理する。
- Gemfile はアルファベット順にソートする。

# その他

- RuboCop を使用してコードの静的解析を行う。